.home .pres_icon {
  height: 60px;
  align-self: flex-end;
  margin-bottom: 5px;
}
.home .pres_img {
  width: 204px;
  height: 153px;
  align-self: flex-end;
  margin-bottom: 10px;
}
.home .action {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}