/* DEBUT --------------------------------------------------------------*/
main {
  justify-content: center;
}

.sign {
  align-content: center;
  max-width: 450px;
}
@media (max-width: 600px) {
  .sign {
    max-width: 350px;
  }
}
.sign form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
@media (max-width: 600px) {
  .sign form {
    gap: 10px;
  }
}
.sign form .form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}
@media (max-width: 600px) {
  .sign form .form_input {
    gap: 1px;
  }
}
.sign form .form_input input {
  width: 100%;
}
.sign form .info {
  width: 100%;
  font-style: italic;
}

.danger_input {
  display: none;
  font-size: 16px;
  color: #DC3545;
}
@media (max-width: 600px) {
  .danger_input {
    font-size: 13px;
  }
}

.invalid_input {
  display: none;
  font-size: 16px;
  color: #D08700;
}
@media (max-width: 600px) {
  .invalid_input {
    font-size: 13px;
  }
}

.valid_input {
  display: none;
  font-size: 16px;
  color: #46AC59;
}
@media (max-width: 600px) {
  .valid_input {
    font-size: 13px;
  }
}

/*-- FIN --------------------------------------------------------------*/