@charset "UTF-8";
/* Main css file for the EcoRide project
-  This file is served on all pages */
/* START generic ------------------------------------------------------*/
* { /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 22px;
  color: #000000;
  padding: 10px 0;
}
@media (max-width: 630px) {
  h1 {
    font-size: 18px;
    padding: 5px 0;
  }
}

h2 {
  font-size: 20px;
  font-style: italic;
  color: #000000;
  padding: 8px 0;
  width: 100%;
}
@media (max-width: 630px) {
  h2 {
    font-size: 16px;
    padding: 4px 0;
  }
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../img/michael-marais.webp);
  background-size: cover;
  background-position: center;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
@media (orientation: landscape) {
  body {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 30px;
  }
}
@media (orientation: landscape) and (max-width: 630px) {
  body {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 23px;
  }
}
@media (orientation: portrait) {
  body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 30px;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 23px;
  }
}

.d_none {
  display: none !important;
}

/*-- END generic ------------------------------------------------------*/
/* START HEADER -------------------------------------------------------*/
header {
  display: flex;
  background-color: #D38228;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (orientation: landscape) {
  header {
    grid-row: 1/span 2;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
@media (orientation: portrait) {
  header .logo {
    height: -moz-max-content;
    height: max-content;
    width: 75px;
    padding: 0 5px;
    border-bottom: none;
    margin-bottom: 0;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  header .logo {
    width: 60px;
  }
}
@media (orientation: portrait) and (max-width: 400px) {
  header .logo {
    width: 54px;
  }
}
header .logo .logo_icon {
  height: 80px;
}
@media (max-width: 630px) {
  header .logo .logo_icon {
    height: 55px;
  }
}
@media (orientation: portrait) {
  header .logo .logo_icon {
    align-content: center;
    height: 65px;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  header .logo .logo_icon {
    height: 48px;
  }
}
header nav {
  display: flex;
}
@media (orientation: landscape) {
  header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (orientation: landscape) and (max-width: 630px) {
  header nav {
    gap: 5px;
  }
}
@media (orientation: portrait) {
  header nav {
    flex-direction: row;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  header nav {
    padding-right: 5px;
    gap: 5px;
  }
}
header nav a {
  font-size: 14px;
}
@media (max-width: 630px) {
  header nav a {
    font-size: 11px;
  }
}
@media (orientation: portrait) {
  header nav .vertical-link {
    writing-mode: sideways-lr;
  }
}
header nav .menu_btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 3px;
  background-color: #D0A370;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90px;
  height: 64px;
}
@media (max-width: 630px) {
  header nav .menu_btn {
    border-radius: 8px;
    width: 66px;
  }
}
header nav .menu_btn:hover {
  transform: scale(1.05);
}
header nav .menu_btn:active {
  transform: scale(1);
}
@media (max-width: 630px) {
  header nav .menu_btn {
    height: 45px;
  }
}
@media (max-width: 400px) {
  header nav .menu_btn {
    border-radius: 5px;
  }
}
@media (orientation: portrait) {
  header nav .menu_btn {
    align-content: center;
    height: 55px;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  header nav .menu_btn {
    height: 45px;
  }
}
header nav .menu_btn img {
  position: relative;
}
@media (orientation: landscape) {
  header nav .menu_btn img {
    height: 40px;
  }
}
@media (orientation: landscape) and (max-width: 630px) {
  header nav .menu_btn img {
    height: 25px;
  }
}
@media (orientation: portrait) {
  header nav .menu_btn img {
    height: 30px;
  }
}
@media (orientation: portrait) and (max-width: 630px) {
  header nav .menu_btn img {
    height: 25px;
  }
}
@media (max-width: 400px) {
  header nav .menu_home {
    width: 44px;
  }
}
@media (max-width: 400px) {
  header nav .menu_carpool {
    width: 68px;
  }
}
@media (max-width: 400px) {
  header nav .menu_login {
    width: 61px;
  }
}
@media (max-width: 400px) {
  header nav .menu_account {
    width: 48px;
  }
}
@media (max-width: 400px) {
  header nav .menu_contact {
    width: 48px;
  }
}

/*-- END HEADER -------------------------------------------------------*/
/* START <button>, <input> & <a> --------------------------------------*/
.btn {
  display: inline-block;
  color: #000000;
  opacity: 1;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #D0A370;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 630px) {
  .btn {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
  }
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

select {
  display: inline-block;
  color: #000000;
  opacity: 1;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #FFF8DC;
  padding: 7px;
}
@media (max-width: 630px) {
  select {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
  }
}
@media (max-width: 630px) {
  select {
    padding: 4px;
  }
}
@media (max-width: 400px) {
  select {
    padding: 4px 0;
  }
}

textarea {
  width: 100% !important;
}

input, textarea {
  display: inline-block;
  color: #000000;
  opacity: 1;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #FFF8DC;
}
@media (max-width: 630px) {
  input, textarea {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
  }
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #555555;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #555555;
  opacity: 1;
}

input[type=date] {
  color: #555555;
}

input[type=date]:valid {
  color: #000000;
}

.danger_input {
  display: none;
  font-size: 16px;
  color: #DC3545;
}
@media (max-width: 630px) {
  .danger_input {
    font-size: 13px;
  }
}

.invalid_input {
  display: none;
  font-size: 16px;
  color: #D08700;
}
@media (max-width: 630px) {
  .invalid_input {
    font-size: 13px;
  }
}

.valid_input {
  display: none;
  font-size: 16px;
  color: #46AC59;
}
@media (max-width: 630px) {
  .valid_input {
    font-size: 13px;
  }
}

.is-valid ~ .valid_input,
.is-invalid ~ .invalid_input,
.is-danger ~ .danger_input {
  display: block;
}

.stretched-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.visually_hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a:link, a:visited, a:hover {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.btn_danger {
  background-color: #DC3545;
}

.btn_link {
  text-decoration: none !important;
}

/*-- END <button>, <input> & <a> --------------------------------------*/
/* START MAIN COMMON ---------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 5px 10px;
}
@media (max-width: 630px) {
  main {
    gap: 5px;
    padding: 2px 5px;
  }
}
main .search_bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 222, 173, 0.95);
  border-radius: 1000px;
  gap: 0 5px;
  padding: 5px 10px;
}
@media (max-width: 630px) {
  main .search_bar {
    gap: 0 2px;
    padding: 2px 5px;
  }
}
main .search_bar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 10px;
}
@media (max-width: 630px) {
  main .search_bar form {
    gap: 2px 5px;
  }
}
main .search_bar form input {
  border-radius: 1000px;
}
main .search_bar img {
  height: 40px;
}
main .search_bar .suggestion_box {
  position: absolute; /* permet de se superposer */
  top: 100%; /* juste sous l'input */
  left: 0;
  background: #FFFFFF;
  width: 100%;
  overflow-y: auto;
  display: none; /* caché par défaut */
  z-index: 10;
}
main .search_bar .suggestion_item {
  padding: 5px;
  cursor: pointer;
}
main .search_bar .suggestion_item:hover {
  background: #555555;
  color: #FFFFFF;
}
main .search_bar .place {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  max-width: 960px;
  background-color: rgba(255, 222, 173, 0.95);
  border-radius: 25px;
  padding: 15px;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media (max-width: 630px) {
  .container {
    border-radius: 15px;
    padding: 8px;
    width: 97%;
    gap: 2px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: rgba(255, 222, 173, 0.95);
  border: solid thin #000000;
  padding: 10px;
  gap: 10px;
  font-size: 16px;
}
@media (max-width: 630px) {
  .sub_container {
    padding: 5px;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

.sub_page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  align-items: center;
  width: 100%;
}
@media (max-width: 630px) {
  .sub_page {
    padding: 5px;
    gap: 10px;
  }
}
.sub_page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}
@media (max-width: 630px) {
  .sub_page form {
    gap: 10px;
  }
}
.sub_page form .form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}
@media (max-width: 630px) {
  .sub_page form .form_input {
    gap: 1px;
  }
}
.sub_page form .form_input input {
  width: 100%;
}
.sub_page form fieldset {
  width: 100%;
  padding: 5px 8px;
}
@media (max-width: 630px) {
  .sub_page form fieldset {
    padding: 3px 5px;
  }
}
.sub_page form fieldset .form_checkbox {
  display: flex;
  gap: 8px;
}
@media (max-width: 630px) {
  .sub_page form fieldset .form_checkbox {
    gap: 5px;
  }
}
.sub_page form .info {
  width: 100%;
  font-style: italic;
}

#sub_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 5px;
  gap: 10px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #D38228;
}
@media (max-width: 630px) {
  #sub_menu {
    padding: 3px;
    gap: 5px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
}
#sub_menu a {
  font-size: 14px;
}
@media (max-width: 630px) {
  #sub_menu a {
    font-size: 11px;
  }
}
#sub_menu .menu_btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 3px;
  background-color: #D0A370;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 85px;
  height: 50px;
}
@media (max-width: 630px) {
  #sub_menu .menu_btn {
    border-radius: 8px;
    width: 66px;
  }
}
#sub_menu .menu_btn:hover {
  transform: scale(1.05);
}
#sub_menu .menu_btn:active {
  transform: scale(1);
}
@media (max-width: 630px) {
  #sub_menu .menu_btn {
    border-radius: 8px;
    width: 66px;
    height: 44px;
  }
}
#sub_menu .menu_btn img {
  position: relative;
  height: 30px;
}
@media (max-width: 630px) {
  #sub_menu .menu_btn img {
    height: 25px;
  }
}

#driver_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
}
@media (max-width: 630px) {
  #driver_buttons {
    gap: 5px;
  }
}
#driver_buttons div {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 630px) {
  #driver_buttons div a {
    font-size: 11px;
  }
}
#driver_buttons .carpool {
  width: 350px;
}
@media (max-width: 630px) {
  #driver_buttons .carpool {
    width: 235px;
  }
}
#driver_buttons .car {
  width: 306px;
}
@media (max-width: 630px) {
  #driver_buttons .car {
    width: 205px;
  }
}

/*-- END MAIN COMMON ---------------------------------------------------------*/
/* START FOOTER -------------------------------------------------------*/
footer {
  flex-grow: 1;
  position: sticky;
  bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 25px;
  background-color: #D38228;
  z-index: 10;
}
@media (max-width: 630px) {
  footer {
    font-size: 13px;
    padding: 2px 10px;
  }
}

/*-- END FOOTER -------------------------------------------------------*/