@charset "UTF-8";
/* DEBUT partie générale ----------------------------------------------*/
* { /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000000;
}
@media (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../img/michael-marais.webp);
  background-size: cover;
  background-position: center;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}
@media (orientation: landscape) {
  body {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 30px;
  }
}
@media (orientation: landscape) and (max-width: 600px) {
  body {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 23px;
  }
}
@media (orientation: portrait) {
  body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 30px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 23px;
  }
}

/*-- FIN partie générale ----------------------------------------------*/
/* DEBUT HEADER -------------------------------------------------------*/
header {
  display: flex;
  background-color: #D38228;
  border: solid thin #000000;
  position: sticky;
  top: 0;
}
@media (orientation: landscape) {
  header {
    grid-row: 1/span 2;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid thin #000000;
  margin-bottom: 10px;
}
@media (orientation: portrait) {
  header .logo {
    height: -moz-max-content;
    height: max-content;
    width: 75px;
    border-right: solid thin #000000;
    padding: 0 5px;
    border-bottom: none;
    margin-bottom: 0;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  header .logo {
    width: 60px;
  }
}
@media (orientation: portrait) and (max-width: 380px) {
  header .logo {
    width: 54px;
  }
}
header .logo .logo_icon {
  height: 80px;
}
@media (max-width: 600px) {
  header .logo .logo_icon {
    height: 55px;
  }
}
@media (orientation: portrait) {
  header .logo .logo_icon {
    align-content: center;
    height: 65px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  header .logo .logo_icon {
    height: 48px;
  }
}
header nav {
  display: flex;
}
@media (orientation: landscape) {
  header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (orientation: landscape) and (max-width: 600px) {
  header nav {
    gap: 5px;
  }
}
@media (orientation: portrait) {
  header nav {
    flex-direction: row;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  header nav {
    padding-right: 5px;
    gap: 5px;
  }
}
header nav a {
  font-size: 14px;
}
@media (max-width: 600px) {
  header nav a {
    font-size: 11px;
  }
}
@media (orientation: portrait) {
  header nav .vertical-link {
    writing-mode: sideways-lr;
  }
}
header nav .menu_btn {
  position: relative;
  border: solid thin #000000;
  border-radius: 10px;
  width: 90px;
  height: 64px;
  padding: 3px;
  background-color: #D0A370;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 600px) {
  header nav .menu_btn {
    border-radius: 8px;
    width: 66px;
    height: 45px;
  }
}
@media (max-width: 380px) {
  header nav .menu_btn {
    border-radius: 5px;
  }
}
@media (orientation: portrait) {
  header nav .menu_btn {
    align-content: center;
    height: 55px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  header nav .menu_btn {
    height: 43px;
  }
}
header nav .menu_btn .stretched-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header nav .menu_btn img {
  position: relative;
  top: 15px;
  height: 40px;
}
@media (orientation: portrait) {
  header nav .menu_btn img {
    position: relative;
    top: 9px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  header nav .menu_btn img {
    position: relative;
    top: 12px;
    height: 25px;
  }
}
header nav .menu_btn:hover {
  transform: scale(1.05);
}
header nav .menu_btn:active {
  transform: scale(1);
}
@media (max-width: 380px) {
  header nav .menu_home {
    width: 44px;
  }
}
@media (max-width: 380px) {
  header nav .menu_carpool {
    width: 68px;
  }
}
@media (max-width: 380px) {
  header nav .menu_login {
    width: 61px;
  }
}
@media (max-width: 380px) {
  header nav .menu_account {
    width: 48px;
  }
}
@media (max-width: 380px) {
  header nav .menu_contact {
    width: 48px;
  }
}

/*-- FIN HEADER -------------------------------------------------------*/
/* DEBUT <button>, <input> & <a> --------------------------------------*/
.btn {
  display: inline-block;
  color: #000000;
  opacity: 1;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #D0A370;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 600px) {
  .btn {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
  }
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

input {
  display: inline-block;
  color: #000000;
  opacity: 1;
  border: solid thin #000000;
  border-radius: 10px;
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #FFF8DC;
}
@media (max-width: 600px) {
  input {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 13px;
  }
}

input::-moz-placeholder {
  color: #555555;
  opacity: 1;
}

input::placeholder {
  color: #555555;
  opacity: 1;
}

input[type=date] {
  color: #555555;
}

input[type=date]:valid {
  color: #000000;
}

.visually_hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a:link, a:visited, a:hover {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.btn_link {
  text-decoration: none !important;
}

/*-- FIN <button>, <input> & <a> --------------------------------------*/
/* DEBUT MAIN ---------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 5px 10px;
}
@media (max-width: 600px) {
  main {
    gap: 5px;
    padding: 2px 5px;
  }
}
main .search_bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 222, 173, 0.95);
  border-radius: 1000px;
  gap: 0 5px;
  padding: 5px 10px;
}
@media (max-width: 600px) {
  main .search_bar {
    gap: 0 2px;
    padding: 2px 5px;
  }
}
main .search_bar .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 10px;
}
@media (max-width: 600px) {
  main .search_bar .inputs {
    gap: 2px 5px;
  }
}
main .search_bar .inputs input {
  border-radius: 1000px;
}
main .search_bar img {
  height: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  max-width: 960px;
  background-color: rgba(255, 222, 173, 0.95);
  border: solid thin #000000;
  border-radius: 25px;
  gap: 5px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media (max-width: 600px) {
  .container {
    border-radius: 15px;
    gap: 2px;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

/*-- FIN MAIN ---------------------------------------------------------*/
/* DEBUT FOOTER -------------------------------------------------------*/
footer {
  flex-grow: 1;
  position: sticky;
  bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 25px;
  background-color: #D38228;
  border: solid thin #000000;
}
@media (max-width: 600px) {
  footer {
    font-size: 13px;
    padding: 2px 10px;
  }
}

/*-- FIN FOOTER -------------------------------------------------------*/