/* This file is served on pages in these Folders : A REDECOUPER */
.user {
  padding: 0;
}
.user .avatar_picture {
  border: solid thin #000000;
  border-radius: 10px;
  width: 80px;
  height: 80px;
}
@media (max-width: 630px) {
  .user .avatar_picture {
    border-radius: 8px;
    width: 50px;
    height: 50px;
  }
}
.user .avatar_picture img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 630px) {
  .user .avatar_picture img {
    border-radius: 8px;
  }
}