@mixin menu_btn-style {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid thin $black;
    border-radius: 10px;
    padding: 3px;
    background-color: $second;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    @media (max-width: $brp_s) {
        border-radius: 8px;
        width: 66px;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1);
    }
}

@mixin forme-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $gap_form;
        @media (max-width: $brp_s) {
            gap: $gap_form_xs;
        }
    .form_input {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
            @media (max-width: $brp_s) {
                gap: 1px;
            }
        input {
            width: 100%;
        }
    }
    fieldset {
        width: 100%;
        padding: 5px 8px;
            @media (max-width: $brp_s) {
                padding: 3px 5px;
            }
        .form_checkbox {
            display: flex;
            gap: 8px;
                @media (max-width: $brp_s) {
                    gap: 5px;
                }
        }
    }
    .info {
        width: 100%;
        font-style: italic;
    }
}

@mixin suggestion_box {
    position: absolute; /* permet de se superposer */
    top: 100%; /* juste sous l'input */
    left: 0;
    background: $white;
    width: 100%;
    overflow-y: auto;
    display: none; /* caché par défaut */
    z-index: 10;
}
@mixin suggestion_item {
    padding: 5px;
    cursor: pointer;
}
@mixin suggestion_item_hover {
    background: $grey;
    color: $white;
}
