// Colors :
$prim: #D38228;
$second: #D0A370;
$tert: #FFDEAD;
$quat: #FFF8DC;
$green: #46AC59;
$blue: #0000FF;
$black: #000000;
$grey: #555555;
$white: #FFFFFF;
$warning: #D08700;
$danger: #DC3545;

// Fonts sizes :
$title: 20px;
$title_xs: 18px;
$text: 16px;
$text_xs: 13px;
$menu: 14px;
$menu_xs: 11px;


// Breakpoints :
$brp_xs: 380px;
$brp_s: 600px;

// Container :
$border_radius_int: 25;
$border_radius_int_xs: 15;
$padding: 15px;
$padding_xs: 8px;
$gap_form: 15px;
$gap_form_xs: 10px;