// This file is served on the carpool page
@import 'variables';
@import 'functions';

main {
    justify-content: flex-start;
}

.search {
    padding: 0px;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid thin $grey;
    width: 100%;
    gap: 15px;
    padding: 3px 20px;
    @media (max-width: $brp_s) {
        gap: 8px;
        padding: 2px 10px;
    }
    h2 {
        width: auto;
        white-space: nowrap;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 15px;
        @media (max-width: $brp_s) {
            gap: 8px;
        }
        fieldset {
            border: none;
            padding: 5px 0px;
            @media (max-width: $brp_s) {
                padding: 3px 0px;
            }
        }
        .form_checkbox {
            display: flex;
            justify-content: center;
            gap: 8px;
            @media (max-width: $brp_s) {
                gap: 5px;
            }
        }
        .form_input {
            display: flex;
            flex-direction: column;
            width: 70px;
            @media (max-width: $brp_s) {
                width: 56px;
            }
            input {
                width: auto;
            }
        }
    }
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px;
    @media (max-width: $brp_s) {
        gap: 5px;
        padding: 3px;
    }
    #result_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        @media (max-width: $brp_s) {
            gap: 5px;
        }
    }
    .result_item{
        display: grid;
        background-color: $second;
        width: 100%;
        border-radius: 10px;
        grid-template-columns: 50px 133px 1fr 1fr 60px 80px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "profile1 profile2 info2 info3 info1 action"
            "profile1 profile3 info4 info5 info1 action";

        @media (max-width: $brp_rst_search) {
            grid-template-columns: 133px 1fr 80px;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                "profile1 info2 info1"
                "profile1 info3 info1"
                "profile2 info4 action"
                "profile3 info5 action";
        }

        @media (max-width: $brp_s) {
            grid-template-columns: 111px 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                "profile1 info2"
                "profile1 info3"
                "profile2 info4"
                "profile3 info5"
                "info1 action"
                "info1 action";
        }
    }

    @mixin pict_act { 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @mixin border_r { border-right: solid thin $black;}
    @mixin border_l { border-left: solid thin $black;}
    @mixin border_none { border: none;}

    .results_profile1 { grid-area: profile1; grid-row: 1 / span 2; @include pict_act; }
    .results_profile2 { grid-area: profile2; @include border_r; margin: auto 0; }
    .results_profile3 { grid-area: profile3; @include border_r; margin: auto 0; }

    .results_info2 { grid-area: info2; margin: auto 3px; }
    .results_info3 { grid-area: info3; margin: auto 3px; }
    .results_info4 { grid-area: info4; margin: auto 3px; }
    .results_info5 { grid-area: info5; margin: auto 3px; }

    .results_info1 { grid-area: info1; grid-row: 1 / span 2; @include pict_act; @include border_l; }
    .results_action { grid-area: action; grid-row: 1 / span 2; @include pict_act; }

    @media (max-width: $brp_rst_search) {
        .results_profile1 { grid-area: profile1; grid-row: 1 / span 2; @include pict_act; @include border_r; }
        .results_profile2 { grid-area: profile2; @include border_r; margin: auto; }
        .results_profile3 { grid-area: profile3; @include border_r; margin: auto; }

        .results_info2 { grid-area: info2; margin: auto; }
        .results_info3 { grid-area: info3; margin: auto; }
        .results_info4 { grid-area: info4; margin: auto; }
        .results_info5 { grid-area: info5; margin: auto; }

        .results_action { grid-area: action; grid-row: 1 / span 2; @include pict_act; @include border_l; }
        .results_info1 { grid-area: info1; grid-row: 3 / span 2; @include pict_act; @include border_l; }
    }

    @media (max-width: $brp_s) {
        .results_profile1 { grid-area: profile1; grid-row: 1 / span 2; @include pict_act; @include border_r; }
        .results_profile2 { grid-area: profile2; margin: auto; @include border_r; }
        .results_profile3 { grid-area: profile3; margin: auto; @include border_r; }
        .results_info1 { grid-area: info1; grid-row: 5 / span 2; @include pict_act; @include border_none; @include border_r; }

        .results_info2 { grid-area: info2; margin: auto; }
        .results_info3 { grid-area: info3; margin: auto; }
        .results_info4 { grid-area: info4; margin: auto; }
        .results_info5 { grid-area: info5; margin: auto; }
        .results_action { grid-area: action; grid-row: 5 / span 2; @include pict_act; @include border_none; }
    }

    .pict_act_inf {
        width: 100%;
        height: 100%;
        img {
            width:  48px;
            height: 48px;
            border-radius: 10px;
            @media (max-width: $brp_s) {
                border-radius: 8px;
                width:  28px;
                height: 28px;
            }
        }
    }
}