/* Main css file for the EcoRide project
-  This file is served on all pages */
@import 'variables';
@import 'functions';
@import 'mixins';

/* START generic ------------------------------------------------------*/
* {    /* RESET */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

h1 {
	font-size: $title;
	color: $black;
	padding: 10px 0;
	@media (max-width: $brp_s) {
		font-size: $title_xs;
		padding: 5px 0;
	}
}

h2 {
	font-size: $title2;
	font-style: italic;
	color: $black;
	padding: 8px 0;
	width: 100%;
	@media (max-width: $brp_s) {
		font-size: $title2_xs;
		padding: 4px 0;
	}
}

.underlined {
	text-decoration: underline;
}

html {
	scroll-behavior: smooth;
}

body{
	background-image: url(../../img/michael-marais.webp);
	background-size: cover;
	background-position: center;
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	@media (orientation: landscape) {
		grid-template-columns: 100px 1fr;
		grid-template-rows: 1fr 30px;
		@media (max-width: $brp_s) {
			grid-template-columns: 70px 1fr;
			grid-template-rows: 1fr 23px;
		}
	}
	@media (orientation: portrait) {
		height: 100vh;
		grid-template-columns: 1fr;
		grid-template-rows: 65px 1fr 30px;
		@media (max-width: $brp_s) {
			grid-template-columns: 1fr;
			grid-template-rows: 50px 1fr 23px;
		}
	}
}

.d_none {
	display: none !important;
}
/*-- END generic ------------------------------------------------------*/

/* START HEADER -------------------------------------------------------*/
header {
	display: flex;
	background-color: $prim;
	border: solid thin $black;
	position: sticky;
	top: 0;
	z-index: 10;
	@media (orientation: landscape) {
		grid-row: 1 / span 2;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100vh;
	}
		.logo {
			display: flex;
			justify-content: center;
			width: 100%;
			border-bottom: solid thin $black;
			margin-bottom: 10px;
			@media (orientation: portrait) {
				height: max-content;
				width: 75px;
				border-right: solid thin $black;
				padding: 0 5px;
				border-bottom: none;
				margin-bottom: 0;
				@media (max-width: $brp_s) {
					width: 60px;
				}
				@media (max-width: $brp_xs) {
					width: 54px;
				}
			}
			.logo_icon {
				height: 80px;
				@media (max-width: $brp_s) {
					height: 55px;
				}
				@media (orientation: portrait) {
					align-content: center;
					height: 65px;
					@media (max-width: $brp_s) {
						height: 48px;
					}
				}
			}
		}
		nav {
			display: flex;
			@media (orientation: landscape) {
				flex-direction: column;
				align-items: center;
				gap: 10px;
				@media (max-width: $brp_s) {
					gap: 5px;
				}
			}
			@media (orientation: portrait) {
				flex-direction: row;
				width: 100%;
				padding-right: 10px;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				@media (max-width: $brp_s) {
					padding-right: 5px;
					gap: 5px;
				}
			}
				a {	// Apply to <a> in <nav> and <div class="menu_btn">
					font-size: $menu;
					@media (max-width: $brp_s) {
						font-size: $menu_xs;
					}
				}
				.vertical-link{
					@media (orientation: portrait) {
						writing-mode: sideways-lr;
					}
				}
				.menu_btn {
					@include menu_btn-style;
					width: 90px;
					height: 64px;
					@media (max-width: $brp_s) {
						height: 45px;
					}
					@media (max-width: $brp_xs) {
						border-radius: 5px;
					}
					@media (orientation: portrait) {
							align-content: center;
							height: 55px;
						@media (max-width: $brp_s) {
							height: 45px;
						}
					}
					img{
						position: relative;
						@media (orientation: landscape) {
							height: 40px;
							@media (max-width: $brp_s) {
								height: 25px;
							}
						}
						@media (orientation: portrait) {
							height: 30px;
							@media (max-width: $brp_s) {
								height: 25px;
							}
						}
					}
				}
				.menu_home {
					@media (max-width: $brp_xs) {
						width: 44px;
					}
				}
				.menu_carpool {
					@media (max-width: $brp_xs) {
						width: 68px;
					}
				}
				.menu_login {
					@media (max-width: $brp_xs) {
						width: 61px;
					}
				}
				.menu_account {
					@media (max-width: $brp_xs) {
						width: 48px;
					}
				}
				.menu_contact {
					@media (max-width: $brp_xs) {
						width: 48px;
					}
				}
		}
}
/*-- END HEADER -------------------------------------------------------*/

/* START <button>, <input> & <a> --------------------------------------*/
@mixin btn_inp-style{
	display: inline-block;
	color: $black;
	opacity: 1;
	border: solid thin $black;
	border-radius: 10px;
	padding: 8px 10px;
	width: fit-content;
	font-size: $text;
	@media (max-width: $brp_s) {
		padding: 5px 8px;
		border-radius: 8px;
		font-size: $text_xs;
	}
}

.btn {
	@include btn_inp-style;
    background-color: $second;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(1.05);
}
.btn:active {
    transform: scale(1);
}

select {
	@include btn_inp-style;
    background-color: $quat;
	padding: 7px;
	@media (max-width: $brp_s) {
		padding: 4px;
	}
	@media (max-width: $brp_xs) {
		padding: 4px 0;
	}
}

input {
	@include btn_inp-style;
    background-color: $quat;
}
// Placeholder
input::placeholder {
	color: $grey;		// to fix the placeholder coulor
	opacity: 1;
}
input[type="date"] {
	color: $grey;		// to simulate a date placeholder
}
input[type="date"]:valid {
	color: $black;		// to simulate a date placeholder
}
// See special search_bar input in MAIN section

.stretched-link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: flex-start;
    justify-content: center;
	z-index: 1;
}

.visually_hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

a:link, a:visited, a:hover {
	color: $black;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.btn_link {
	text-decoration: none !important;
}
/*-- END <button>, <input> & <a> --------------------------------------*/

/* START MAIN ---------------------------------------------------------*/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding: 5px 10px;
	@media (max-width: $brp_s) {
		gap: 5px;
		padding: 2px 5px;
	}
	.search_bar {
		display: flex;
		align-items: center;
		background-color: color_opacity($tert, 0.95);	// avoid to give opacity to the children
		border-radius: 1000px;
		gap: 0 5px;
		padding: 5px 10px;
		@media (max-width: $brp_s) {
			gap: 0 2px;
			padding: 2px 5px;
		}
		.inputs {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 5px 10px;
			@media (max-width: $brp_s) {
				gap: 2px 5px;
			}
			input {
				border-radius: 1000px;
			}
		}
		img{
			height: 40px;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 90%;
	max-width: 960px;
	background-color: color_opacity($tert, 0.95);	// avoid to give opacity to the children
	border: solid thin $black;
	border-radius: #{$border_radius_int}px;
	padding: $padding;
	gap: 5px;
	margin-bottom: 20px;
	font-size: $text;
	text-align: justify;
	text-align-last: left;
	@media (max-width: $brp_s) {
		border-radius: #{$border_radius_int_xs}px;
		padding: $padding_xs;
		width: 95%;
		gap: 2px;
		margin-bottom: 10px;
		font-size: $text_xs;
	}
}


/*-- END MAIN ---------------------------------------------------------*/

/* START FOOTER -------------------------------------------------------*/
footer {
	flex-grow: 1;
	position: sticky;
	bottom: 0;
	height: fit-content;
	padding: 5px 25px;
	background-color: $prim;
	border: solid thin $black;
	z-index: 10;
	@media (max-width: $brp_s) {
		font-size: $text_xs;
		padding: 2px 10px;
	}
}
/*-- END FOOTER -------------------------------------------------------*/

