/* This file is served on pages in these Folders : A REDECOUPER */
@import 'variables';
@import 'functions';
@import 'mixins';

.user {
    padding: 0;
    // max-width: 450px;
	@media (max-width: $brp_s) {
		// max-width: 450px;
	}
    .avatar_picture {
        border: solid thin $black;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        @media (max-width: $brp_s) {
            border-radius: 8px;
            width: 50px;
            height: 50px;
        }
        img {
            width: 100%;
            border-radius: 10px;
            @media (max-width: $brp_s) {
                border-radius: 8px;
            }
        }
    }
}

.review {
    padding: 0;
}